body {
    text-align: center;
    background: black;
    color: white;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 0 auto;
    justify-content: center;
 
}

.color {
    width: 40%;
    aspect-ratio: 1/1;
    border: 4px solid;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
}

#yellow {
    background-color: rgb(255, 238, 0);
    border-color: black;
}

#purple {
    background-color: rgb(110, 0, 254);
    border-color: black;
}

#blue {
    background-color: rgb(0, 157, 255);
    border-color: black;

}

#red {
    background-color: rgb(255, 49, 49);
    border-color: black;
}